.app {
  margin: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
}

.header {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
}

.header-pages {
  display: grid;
  justify-content: left;
  grid-template-columns: 80px 80px;
}

.header-sign {
  display: grid;
  justify-content: right;
  grid-template-columns: 80px 80px;
}

.body {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

.sign-form {
  display: grid;
  grid-row-gap: 10px;
}

.header-name {
  overflow: hidden;
  margin: 7px 0px;
}